@{
    Layout = "";
 }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Huber | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/Content/bootstrap3.3.5/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link href="/AdminLTE-2.3.0/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="/AdminLTE-2.3.0/dist/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminLTE-2.3.0/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/AdminLTE-2.3.0/plugins/iCheck/square/blue.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/AdminLTE-2.3.0/dist/js/html5shiv.min.js"></script>
        <script src="/AdminLTE-2.3.0/dist/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Huber</b>Admin</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <div>
                <div class="form-group has-feedback">
                    <input id="uid"  type="text" class="form-control" placeholder="UserID">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input id="pwd"  type="password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"  id="forget_pw"> Remember Me
                            </label>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <input type="button"  onclick="login()"  class="btn btn-primary btn-block btn-flat" value="Sign In" />
                    </div><!-- /.col -->
                </div>
            </div>
            <div class="social-auth-links text-center">
               
            </div><!-- /.social-auth-links -->
            <a href="#">I forgot my password</a><br>
            <a href="#" class="text-center">Register a new membership</a>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- jQuery 2.1.4 -->
    <script src="/AdminLTE-2.3.0/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/AdminLTE-2.3.0/bootstrap/js/bootstrap.min.js"></script>
    <script src="/AdminLTE-2.3.0/plugins/iCheck/icheck.min.js"></script>
    <script src="/Scripts/core/login.js"></script>
    <script src="/Scripts/inc/artDialog/jquery.artDialog.source.js"></script>
    <script src="/Scripts/inc/artDialog/plugins/iframeTools.js"></script>
    <script src="/Scripts/Inc/JQuery/jQuery.md5.js"></script>

    <link href="/Scripts/inc/artDialog/skins/green.css" rel="stylesheet" />
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
</body>
</html>