<ul id="User_operat_roleManage_roleList"></ul>
<span onclick="User_operat.roleGetMore(10)">加载更多</span>
<span onclick="User_operat.roleAdd('@Request["uId"].ToString()')">添加</span>
<script>
    User_operat.roleGetMore(10);
</script>